@font-face {
    font-family: "Vazir-Bold";
    src: url("/fonts/vazir-font/Vazir-Bold.eot") format("eot"), url("/fonts/vazir-font/Vazir-Bold.ttf") format("ttf"), url("/fonts/vazir-font/Vazir-Bold.woff2") format("woff2"), url("/fonts/vazir-font/Vazir-Bold.woff") format("woff");
}

@font-face {
    font-family: "Vazir-Light";
    src: url("/fonts/vazir-font/Vazir-Light.eot") format("eot"), url("/fonts/vazir-font/Vazir-Light.ttf") format("ttf"), url("/fonts/vazir-font/Vazir-Light.woff2") format("woff2"), url("/fonts/vazir-font/Vazir-Light.woff") format("woff");
}

@font-face {
    font-family: "Vazir-Medium";
    src: url("/fonts/vazir-font/Vazir-Medium.eot") format("eot"), url("/fonts/vazir-font/Vazir-Medium.ttf") format("ttf"), url("/fonts/vazir-font/Vazir-Medium.woff2") format("woff2"), url("/fonts/vazir-font/Vazir-Medium.woff") format("woff");
}

@font-face {
    font-family: "Vazir-Thin";
    src: url("/fonts/vazir-font/Vazir-Thin.eot") format("eot"), url("/fonts/vazir-font/Vazir-Thin.ttf") format("ttf"), url("/fonts/vazir-font/Vazir-Thin.woff2") format("woff2"), url("/fonts/vazir-font/Vazir-Thin.woff") format("woff");
}

body {
    font-family:"Vazir-Medium",Tahoma;
}

.validation-summary-errors,.field-validation-error{
font-size:12px;
color:red;
}
span .validation-summary-errors{
    width:100%;
}
ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
}
.calendar {
	direction: rtl;
}


.editor-table td{
    padding:5px;
}
   