
@{
    ViewBag.Title = "UserAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:center;    padding: 20px;">
    <img src="~/Images/lock-user-symbol.png" /><br/>
    <h4>کاربر گرامی شما به این قسمت دسترسی ندارید</h4>
</div>
