<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="LogicDb" connectionString="xoGguBK0Yy97yVB7Ekt2jHsL65qozvrXraOmrM3HohD/iGgTVAL59qJ2nKWzQYK/7D+s3pxuAHYOP78nTrW76Z9QtdUmSN+JyNaFB/dypmXAgEP0NvRALd0zrl6MdS5L5m+8I4+isqYq1Dv+Q4aFWA==" providerName="System.Data.SqlClient" />
    <add name="gdbConn" connectionString="xoGguBK0Yy97yVB7Ekt2jHsL65qozvrXraOmrM3HohD/iGgTVAL59qJ2nKWzQYK/+ipOh0qahs+FOfNTeU/dkX5c8X68YA1Ef/xO+y8NNQyWw2soDqBIOh2lvqp2/GiqREwiD8ROKw/lRpZZ+befUQ==" providerName="System.Data.SqlClient" />-->
    <!--<add name="LogicDb" connectionString="Data Source=MAH-PC;Initial Catalog=DataCollector;User ID=;Password=" providerName="System.Data.SqlClient" />-->
    <!--<add name="LogicDb" connectionString="hqORpnDOFXCR5o+KIAtTlXj/PbgzdzpGmz0GrQXfZOI17R8XGsqFZac8t/bcK3VMHhdVYPwJgePGDYaX3RGYD9PgDf5JSPgNbEDbzom3KE8=" providerName="System.Data.SqlClient"/>
    <add name="gdbConn" conectionString="hqORpnDOFXCR5o+KIAtTlXj/PbgzdzpGmz0GrQXfZOIbRj53L/8TRbvhfCiCgCEmrR3XsEJOKQGDl7Qw9ntjMecnVRE3GXxBa9nyVoNvl5s=" providerName="System.Data.SqlClient"/>-->
    <!--<add name="LogicDb" connectionString="xoGguBK0Yy97yVB7Ekt2jHsL65qozvrXraOmrM3HohD/iGgTVAL59qJ2nKWzQYK/9iiDVBpl7JYHc9pRLlNg4j5YiAlLq5YqKqjOvSIynVe2+nWy74HSzz7dxoixXfcMSJh1IqcredB9JeQTF94J7NbWRX2KJ6/45yuWTgvRR78=" providerName="System.Data.SqlClient" />
    <add name="gdbConn" connectionString="xoGguBK0Yy97yVB7Ekt2jHsL65qozvrXraOmrM3HohD/iGgTVAL59qJ2nKWzQYK//l4NDfZO3a7NlcmYxTORS+2wvG8yrU0De+WFin4/djvcPhx8M0RwYV0delWTdojyPd/DMuDpO7VQHjmIKAxQjdtlwF7lvaX4BiT2n7piw5k=" providerName="System.Data.SqlClient" />-->
    <add name="LogicDb" connectionString="NLHrAwQ+A1XI3XQLoXOOJiMGYVzm610QhpT9IVhPFW9e/rs0Hg3iPAXebtM9Bv3X4SVL8eu+qE4aKdUc2HCgjEmAUqALWi9gEDdy7IRYTDPZqCPHMAdIWBrCaQSFa8jo" providerName="System.Data.SqlClient"/>
    <add name="gdbConn" connectionString="NLHrAwQ+A1XI3XQLoXOOJiMGYVzm610QhpT9IVhPFW9e/rs0Hg3iPAXebtM9Bv3XTePEltWLTo7tjWAT4Kk6j2Bjt9MC1lyrbIZ0hSIaVOLFHQGEb2hXsy3gU7cyh817" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ApplicationName" value="نرم افزار برداشت اطلاعات توصیفی"/>
    <add key="ApplicationVersion" value="2.1.0"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Forms">
      <forms cookieless="UseCookies" name="DataCollector"/>
    </authentication>-->
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI"/>
      </namespaces>
    </pages>
  <globalization
       culture="en-US"
       uiCulture="en-US"
    />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
</configuration>